{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {}
}
